* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(23, 68, 23);
  height: 10vh;
  color: rgba(255, 255, 255, 0.7);
  position: fixed;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-basis: 40%;
}

nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5em;
}

nav a:hover {
  color: rgba(255, 255, 255);
  transition: .2s;
}

.zoo-photo {
  background-image: url(./Images/images.jpeg);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.zoo-photo h2, .zoo-photo p {
  margin: auto;
  color: white;
  text-shadow: 0 0 25px black;
  text-decoration: none;
}

.zoo-photo h2 {
  font-size: 4em;
}

.zoo-photo p {
  font-size: 3em;
}

.zoo-photo a {
  background-color: white;
  padding: 25px;
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  margin-bottom: 8vh;
  border-radius: 5px;
  box-shadow: 0 0 30px;
}