*{
  padding: 0%;
  margin: 0%;
}

body{
  text-align: center;
  background-color: gray;
  color: rgb(10, 49, 10);
}

label {
  color: rgb(10, 49, 10);
}

main{
  display: inline-block;
  border: whitesmoke solid 1px;
  border-radius: 10px;
  padding: 30px;
  width: 90%;
}

.header-trybe{
  display: block;
  text-align: center;
  height: 130px;
  border: rgba(245, 222, 179, 0.655) 1px solid;
  background-color: rgba(245, 222, 179, 0.655);
  color: rgb(10, 49, 10);
  border-radius: 10px;
  margin-bottom: 25px;
}

.header-trybe img{
  margin-top: 12px;
  height: 70px;
}

.form-section {
  text-align: left;
  margin: 25px;
}

.hotel-form, .list-section{
  margin: 25px;
  font-size: 25px;
}

button{
  width: 10%;
  padding: 20px;
  margin-top: 20px;
  font-size: 20px;
  background-color: rgb(10, 49, 10);
  color: wheat;
  font-weight: 700;
  border-radius: 10px;
}

li{
  text-align: left;
  margin-bottom: 5px;
  padding:20px;
  font-size:25px;
  border: whitesmoke 1px solid;
  border-radius: 10px;
  color: rgb(10, 49, 10);
  width: 80%;
  margin: auto;
}

ol{
  display: inline-block;
  list-style-type: none;
  margin-top:15px;
  width: 90%;
}

h3 {
  color: rgb(10, 49, 10);
}

textarea{
  box-sizing: content-box;
  padding: 10px;
  resize: none;
  height: 50px;
  width: 40%;
  border-radius: 10px;
  font-size: 18px;
  background-color: rgb(68, 67, 67);
  color: wheat;
}

input[type='date'] {
  background-color: rgb(68, 67, 67);
  color: wheat;
  font-size: 18px;
  border-radius: 5px;
}

select {
  background-color: rgb(68, 67, 67);
  color: wheat;
  font-size: 18px;
  width: 5%;
  text-align: center;
}

option {
  background-color: wheat;
  color: rgb(68, 67, 67);
}

input[type='radio'] {
  height: 15px;
  width: 15px;
}