div:hover {
    border: 2px solid gray;
}

div:first-of-type {
  color: blue;
}

div:nth-of-type(2) {
  color: green;
}

div:nth-of-type(3) {
  color: red;
  block-size: 50px;
}

div:nth-of-type(4) {
  color: rgb(82, 81, 81);
}

div:nth-of-type(5) {
  color: rgba(243, 214, 136, 0.993);
}

div:nth-of-type(1) h3 {
  background-color: rgb(1, 1, 77);
  font-size: 20px;
}

div:nth-of-type(2) h3 {
  background-color: rgb(1, 44, 1);
  font-size: 21px;
}

div:nth-of-type(3) h3 {
  background-color: rgb(65, 2, 2);
  font-size: 22px;
}

div:nth-of-type(4) h3 {
  background-color: rgb(185, 183, 183);
  font-size: 23px;
}

div:nth-of-type(5) h3 {
  background-color: rgb(98, 98, 20);
  font-size: 24px;
}

div:nth-child(2n+1) h3 {
  font-style: italic;
}