body {
  font-family: 'Bubbler One', sans-serif;
  color: rgb(46, 40, 42);
  font-size: 27px;
  margin: 20px;
  background-color: rgba(46, 40, 42, 0.3);
  background-image: url(./images/sand.jpg);
}

h1 {
  font-size: 1em;
}

header {
  text-align: center;
  background-color: rgba(15, 163, 177, 0.3);
  border-bottom: 1px solid rgb(72, 67, 73);
  padding-top: 2px;
}

nav {
  text-align: center;
  font-size: 1em;
}

nav ul li {
  display: inline;
  background-color: rgba(15, 136, 177, 0.3);
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid rgb(72, 67, 73);
  margin: 10px;
}

aside {
  position: sticky;
  top: 0;
  background-color: rgb(82, 26, 36);
  color: white;
  text-align: center;
}

#headerBlock {
  font-size: 1.5em;
 }

a {
  color: rgb(234, 82, 111);
  font-weight: bold;
  text-decoration: none;
}

section {
  text-align: justify;
  background-color: rgba(135, 207, 158, 0.644);
}

img {
  border-radius: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  background-color: rgb(234, 82, 111);
}

#imgBlock {
  text-align: center;
}

#photoTwo, #photoThree {
  display: inline-block;
}

#photoFour {
  float: right;
  top: 0;
  background-color: rgba(234, 82, 110, 0);
}

#photoSeven {
  border-radius: 0;
}

.crossed {
  text-decoration: line-through;
}

#nerdTime {
  font-weight: bold;
}

table {
  text-align: center;
  color: wheat;
  padding: 10px;
  border: 1px solid rgb(110, 243, 152);
  margin-left: 30%;
  background-color: rgb(82, 26, 36);
  border-radius: 7%;
}

table caption {
  font-weight: bolder;
  color: rgb(82, 26, 36);
}

table td {
  border: 1px solid rgb(126, 192, 147);
}

table td:first-of-type {
 text-transform: uppercase;
}

#headerOne, #headerTwo, #headerThree, #headerFour {
  text-align: end;
  background-color: rgba(15, 136, 177, 0.623);
  border-top: 1px solid rgb(72, 67, 73);
  border-bottom: 1px solid rgb(72, 67, 73);
}

footer {
  color: wheat;
  background-color: rgba(72, 67, 73, 0.678);
  margin-bottom: 100px;
  text-align: center;
}
