:root {
  --light-gray: rgb(225, 229, 235);
  --gray1: rgb(62, 66, 75);
  --gray2: rgb(40, 42, 47);
  --gray3: rgb(30, 31, 36);
  --gray4: rgb(26, 27, 28);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--gray4);
  color: white;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo-title h1 {
  font-size: 2.5rem;
  padding-left: 10px;
}

.title img {
  width: 50px;
  height: 50px;
}

header .player-container {
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.step {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.step h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.genre-cards, .playlist-cards, .tracks-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.genre-cards img {  
  height: 180px;
  margin-bottom: 20px;
  object-fit: cover;
}

.genre-cards section {
  background-color: var(--gray3);
  margin: 20px;
  padding: 20px;
  cursor: pointer;
}

.genre-cards section:hover {
  background-color: var(--gray2);
}

.genre-cards p {
  font-weight: 700;
  font-size: 1.2rem;
  width: fit-content;
  margin: auto;
}

.text-card {
  background-color: var(--gray2);
  margin: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: 500;
}

.text-card:hover {
  background-color: var(--gray1);
}

.item-selected {
  background-color: var(--light-gray) !important;
  color: var(--gray3) !important;
}