.about-sect {
  width: 80%;
  margin: auto;
}

.about-sect img {
  width: 50%;
  max-width: 400px;
  margin-top: 30px;
}

.about-sect p {
  margin: 30px 15px;
  text-align: justify;
  line-height: 1.7rem;
}

.about-sect p::first-letter {
  margin-left: 50px;
}