 h1 {
        font-size: 65px;
        color: orange;
      }

      ul {
        background-color: rgba(192, 179, 243, 0.568);
      }
      .list {
        background-color: rgba(46, 32, 13, 0.507);
      }

      #red{
        color: red;
      }
      #moss-green{
        color: rgb(24, 59, 24);
      }
      #marsala{
        color: rgb(88, 29, 34);
      }
      #teal {
        color: teal;
      }
      #orange{
        color: orange;
      }