* {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: monospace;
  font-size: 30px;
  color: rgb(75, 28, 28);
}

#cabecalho {
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  z-index: 3;
}

#titulo {
  font-size: 1.8em;
}

#minha_foto {
  margin-top: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
  padding: 5px;
  background-color: rgb(75, 28, 28);
}

nav ol li {
  display: inline-block;
  padding: 30px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: rgb(75, 28, 28);
  color: rgb(253, 251, 251);
}

#main {
  margin: 50px 100px;
  overflow: hidden;
}

.lado-esquerdo {
  float: left;
  width: 40%;
  margin: 0 30px;
  text-align: justify;
  line-height: 40px;
}

.lado-esquerdo h2 {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.lado-direito {
  float: right;
  width: 40%;
  margin: 0 30px;
  text-align: justify;
  line-height: 40px;
}

.lado-direito h3 {
  margin-bottom: 20px;
  font-size: 1.2em;
}

#licoes_aprendidas {
  list-style-position: inside;
  margin: 50px 100px;
  position: absolute;
}

#licoes_a_aprender {
  position: absolute;
  margin-right: 150px;
  right: 100px;
  top: 1900px;
  z-index: 1;
}

#rodape {
  margin-top: 900px;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 200px;
  width: 50%;
}

#rodape p {
  font-size: 1.3em;
}

#rodape a {
  font-size: 1.2em;
}

table {
  border: 2px solid rgb(75, 28, 28);
  position: absolute;
  right: 250px;
  z-index: 2;
}

table tr td {
  border: 2px solid rgb(75, 28, 28);
}

caption {
  font-weight: 950;
}
